<template name="home">
{{> header}}
  <p>User id : {{user._id}}</p>
  {{> loginButtons}}
  <br>



  {{#each travels}}
    <div class="travel">
    <a class="link_single" href="{{ pathFor 'singleId' _id=this._id}}"></a>
    <div class="date">
      <img src="/images/date.svg">
      <div class="departure_date">{{ departure_date }}</div>
      <div class="departure_time">{{ departure_time }}</div>
    </div>
      <!-- {{ createdAt }}<br> -->
      <div class="destinations">
        <img class="dots" src="/images/dots.svg">
        <div class="destination_places">
          <div class="departures">
            <div class="departure_city">{{ departure_city }},</div>
            <div class="departure_place">{{ departure_place }}</div>
          </div>
          <div class="arrivals">
            <div class="arrival_city">{{ arrival_city }},</div>
            <div class="arrival_place">{{ arrival_place }}</div>
          </div>
        </div>
      </div>
      <div class="price">{{ price }} €</div>
      <div class="places"><div class="place">{{ place }}</div><img src="/images/places.svg"></div>
      <div class="car">
        <img src="/images/car.svg" >
        <div class="car_model">{{car_model}}</div>
      </div>
    </div>
  {{/each}}




</template>
