<template name="login">

	<div class="login-background">
		<h1 class="login-title">Easy Travel</h1>

		<form id="login-form" autocomplete="off">

			<!-- Fake input to desactivate autoffil/autocompete -->
			<input style="display:none;" type="text" name="somefakename" />
			<input style="display:none;" type="password" name="anotherfakename" />

			<div class="material-input">
				<input id="login" type="text" name="login" autocomplete="off" required />
				<span class="highlight"></span>
				<span class="bar"></span>
				<label>Login</label>
			</div>

			<div class="material-input">
				<input id="password" type="password" name="password" autocomplete="off" required />
				<span class="highlight"></span>
				<span class="bar"></span>
				<label>Password</label>
			</div>


		  <input class="login-button" type="submit" value="Login">

		</form>

		<button class="create-account">Create an account</button>

	</div>

</template>
