<template name="singleId">



<div class="travel single">
    <div class="date">
      <img src="/images/date.svg" />
      <div class="departure_date">{{ departure_date }}</div>
      <div class="departure_time">{{ departure_time }}</div>
    </div>
      <!-- {{ createdAt }}<br> -->
      <div class="destinations">
        <img class="dots" src="/images/dots.svg" />
        <div class="destination_places">
          <div class="departures">
            <div class="departure_city">{{ departure_city }},</div>
            <div class="departure_place">{{ departure_place }}</div>
          </div>
          <div class="arrivals">
            <div class="arrival_city">{{ arrival_city }},</div>
            <div class="arrival_place">{{ arrival_place }}</div>
          </div>
        </div>
      </div>
			<div class="car">
				<img src="/images/car.svg" />
				<div class="car_model">{{car_model}}</div>
			</div>
			<div class="places"><img src="/images/places.svg" /><div class="place">{{ place }} place(s)</div></div>
      <div class="price">{{ price }} € / Passenger</div>

			<div class="form-place">
				<!-- <h1>Take a place</h1> -->
				<button class="book">Book one or more place(s)</button>

				<form id="place">
				    <label for="places">Number of places </label>
				    <input type="number" id="places_taken" name="places_taken" step="0" min="0" max="{{ place }}" required />
				    <input type="hidden" name="travel_id" value="{{ _id }}" />
				    <input type="hidden" name="places_free" value="{{ place }}" />
				    <input type="submit"  id="b1" value="send" />
				</form>

			</div>


    </div>

</template>
